@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-background: #181818;
  --color-main: #fcfcfc;
  --color-text-light: #fcfcfccc;
  --color-secondary: #87b4dd;
  --color-highlight: #252525;

  font-family: "Poppins", sans-serif;
}

body,
body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
