@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-background: #181818;
  --color-background-light: #323232;
  --color-main: #fcfcfc;
  --color-text-dim: #fcfcfc81;
  --color-text-light: #fcfcfccc;
  --color-card-text: #cfcfcf;
  --color-secondary: #87b4dd;
  --color-warning: #dd8787;
  --color-highlight: #252525;

  font-family: "Poppins", sans-serif;

  --box-shadow-highlight: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 0.65rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fcfcfc3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-highlight);
}

body,
body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color 0.2s ease;
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
