.search-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;

  background-color: var(--color-highlight);
  margin: 0rem 0.25rem;
  padding: 0rem 0.75rem;
  border-radius: 3rem;
  box-shadow: var(--box-shadow-highlight);
}

.search-container img {
  padding: 0.25rem;
  border-radius: 100%;
}

.search-container input {
  flex: 1;
  padding: 0.75rem 0rem;
  background-color: var(--color-highlight);
  border: none;
  border-radius: 3rem;
  outline: none;
  color: var(--color-text-light);
  font-size: 0.85rem;
  font-weight: 400;
}
