.window-container {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.637);
  backdrop-filter: blur(10px);
  z-index: 20;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.window-container .settings-container {
  min-width: 40rem;
  min-height: 40rem;

  height: 80dvh;
  width: 40dvw;
  overflow: hidden;

  background-color: var(--color-background);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  z-index: 50;
  box-shadow: var(--box-shadow-highlight);
}
